.table-container {
    width: 100%;
}

.table,
.paginator {
    width: 100%;
    background-color: #1b1b1b;
    color: lightgray;
}

.table th {
    color: white;
}

.table td {
    color: lightgray;
}