<div class="header">
    <a class="logo" routerLink="">Trade<span class="green">Helper</span></a>
    <a class="nav-icon" routerLink="" routerLinkActive="route-active" [routerLinkActiveOptions]="{exact:true}" matTooltip="Home">
        <mat-icon>home</mat-icon>
    </a>
    <a class="nav-icon" routerLink="/session" routerLinkActive="route-active" matTooltip="Trading">
        <mat-icon>insert_chart</mat-icon>
    </a>
    <a class="nav-icon" routerLink="/settings" routerLinkActive="route-active" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
    </a>
</div>