$accent: #F5F5F5;
$background: #121212;
$nav-background: #4c4d4f;
$nav-gradient: linear-gradient(180deg, rgba(62, 62, 62, 1) 52%, rgba(93, 93, 101, 1) 100%);
$white: #e3e5e6;
$green: rgb(39, 202, 39);
$red: rgb(209, 14, 14);
$yellow: rgb(228, 228, 5);