// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tradehelper-primary: mat-palette($mat-indigo);
$tradehelper-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$tradehelper-warn: mat-palette($mat-red);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tradehelper-theme: mat-light-theme(( color: ( primary: $tradehelper-primary, accent: $tradehelper-accent, warn: $tradehelper-warn, )));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tradehelper-theme);

/* You can add global styles to this file, and also import other style files */

@import "dark-theme";
.header {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background: $nav-gradient;
    color: $white;
    display: flex;
    flex-direction: row;
}

.sessions {
    width: 100%;
    background: rgb(36, 35, 35);
    color: $white;
    display: flex;
    flex-direction: column;
}

.logo {
    text-decoration: none;
    color: $white;
    font-size: 35px;
    padding: 18px;
    margin-right: 40px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1 {
    color: $accent;
    text-align: center;
}

h2 {
    color: #d1d1d1;
}

body {
    padding: 15px;
    margin-top: 60px;
    height: calc(100% - 60px);
    background-color: $background;
}

.route-active {
    background-color: $background;
}

.route-active mat-icon {
    margin-top: -2px;
    color: $accent !important;
}

mat-divider {
    width: 100%;
    background-color: $nav-background;
}

// Form styles
.form-field,
input {
    width: 250px;
    font-size: large;
}

.form-field {
    margin-right: 30px;
}

.form-field button {
    color: $red;
}

.form-container {
    padding: 20px;
}

.home-container {
    padding: 20px;
}

.green {
    color: $green;
}

.export-button {
    color: white;
    background-color: $nav-background-50;
    float: right;
}

.export-button:hover {
    background-color: $nav-background;
}

.save-button {
    background-color: rgb(39, 202, 39) !important;
    color: black !important;
}

app-session-form,
app-session-view {
    width: 100%;
}